.wrapper{
	width: 90%;
	margin: 0 auto;
		margin-bottom: 50px;

}

.navbar{
	border-radius: 0;
}
.navbar-inverse .navbar-brand{
	color:rgb(173,162,207);
}
.header{
	margin:0 auto;
	text-align: center;
	overflow: hidden;
}

img{
	display: block;
	max-width: 100%;
	margin: 20px auto;
}

.image{
	margin:20px auto;
}

.image > img{
	margin: 0 auto;
	margin-bottom: 5px;
}

.image > p{
	text-align: right;
	font-style: italic;
	font-size: 0.8em;
	width:auto;
	display: block;
}

.header > h1{
	font-size:4em;	
	margin-bottom: 20px;
}

.by{
	text-align: left;
	float: left;
}

.course{
	text-align: right;
	float: right;
}
.header h2{
	margin-top:0;
}
.sub{
	margin: 0 auto;
}
@media(min-width:540px){
	.sub{
		margin:0px 10px;
	}
}

.by,.course{
	display: inline;
}

.divider{
	width:auto;
	height: 0;
	display: block;
	border-top:1px solid #d3d3d3;
	margin:0px auto;
}

.divider{
	margin: 40px auto;
}
@media(min-width: 768px){
	div.divider{
		margin: 60px auto;
	}
}


ul > .divider{
	border-color:gray;
	margin: 10px auto;
}
ul > .divider:before{
	content:'';
}

.content{
	overflow: hidden;
}
.content>h1{
	margin-bottom: 20px;
	max-width: 818px;
}
@media(min-width:992px){
	.content > h1,.header{
		margin-left: auto;
		margin-right: auto;
	}
}
.content .text{
	padding:0px 10px;
	margin-left: auto;
	margin-right: auto;
	max-width: 768px;
}
@media(min-width:768px){
	.content .text{
		padding-left: 40px;
	}
}
.text iframe{
	margin: 20px auto !important;
}

#solution .text{
	overflow: hidden;
}

.infobox{
	background-color:#dedede;
	border:1px solid gray;
	width:auto;
	padding:10px 10px 10px 5px;
	margin: 10px auto;
	margin-right: 10px;

	display: inline-block;
}

.infobox > ul{
	list-style: none;
	padding-left: 20px;
}
.infobox > ul > li:before{
	content:"-"; position:relative; left:-5px;
}
.infobox > ul > li{
	text-indent:-5px;
}

.infobox  span{
	text-align: right;
	font-size: 0.75em;
}
